.col_resize {
    cursor: col-resize;
    top: 0;
    right: 0;
    bottom: 0;
}

.row_resize {
    cursor: row-resize;
    right: 0;
    bottom: 0;
    left: 0;
}

.col_resize , .row_resize {
    position: absolute;
    margin: auto;
    width: 15px;
    height: 15px;
    background-color: black;
}

#dragging_ghost {
    position:absolute; 
    top:0;
    left:0;
    width:120px;
    height:26px;
    border-radius:4px;
    z-index:-1;
}