.calendar_wrap {
	width: 1124px;
	display: flex;
	flex-direction: column;
}

.calendar_title {
}

.calendar_area {
	flex: 1;
	margin-top: 6px;
}

.calendar_header {
	width: 100%;
	display: flex;
	border-top: 1px solid #e5e5e5;
	height: 31px;
	font-size: 12px;
	text-align: left;
	align-items: center;
}

.calendar_header_item {
	flex: 1;
	padding-left: 10px;

	&.-holiday {
		color: #ff4040;
	}
}

.calendar_content {
	position: relative;
	height: 600px;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #e5e5e5;
}

.calendar_row {
	display: flex;
	flex: 1;
	border-top: 1px solid #e5e5e5;
}

.calendar_cell {
	position: relative;
	flex: 1;
	padding: 3px 3px 3px 10px;
	font-size: 14px;
	border-right: 1px solid #e5e5e5;
}

.cell_header {
	display: flex;
	justify-content: space-between;
}

.date {
	display: block;
	text-align: left;

	&.-holiday {
		color: #ff4040;
	}

	&.is_dimmed {
		opacity: 0.4;
	}
}

.more_button {
	border: 0;
	background: none;
	padding: 0 5px;
	font-size: 11px;
	font-weight: 600;
	color: #aaa;
}

.schedule_item {
	position: absolute;
	z-index: 100;
}
