.component {
    padding: 15px 15px 0;
    color: #fff;
}
.area-flex {
    display: flex;
    align-items: center;
    + .area-flex {
       margin-top: 10px;
    }
    .item {
        flex: 1;
        &.type-none {
            flex: none;
            margin-left: auto;
        }
        &.type-date {
            position: relative;
            padding-right: 8px;
            ~ .type-date {
                padding-left: 8px;
                &:before {
                    content: '~';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    .button {
        border: 0;
        background-color: transparent;
        color: #fff;
        font-weight: 600;
    }
}
.area-button {
    margin-top: 15px;
    display: table;
    table-layout: fixed;
    width: 100%;
    border-top: solid 1px #eeeef4;
    .cell {
        display: table-cell;
    }
    .button {
        display: block;
        width: 100%;
        border: 0;
        background-color: transparent;
        font-weight: 700;
        line-height: 42px;
        cursor: pointer;
        color: #fff;
    }
}
