.item-input {
    input {
        position: relative;
        border: 0;
        background-color: transparent;
        -webkit-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        font-size: 12px;
        line-height: 17px;
        color: #fff;
        outline: none;
        &::placeholder {
            color: #999;
        }
        &[type='text']::-ms-clear {
            display: none;
        }
        &::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            opacity: 0;
        }
    }
}
.item-checkbox {
    label {
        display: inline-flex;
        align-items: center;
        vertical-align: top;
        width: 20px;
        height: 10px;
        border-radius: 16px;
        background-color: rgba(#bbb, 0.3);
        &:before {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 2px 2px rgba(#000, 0.05);
        }
    }
    :checked ~ label {
        background-color: rgba(#09b65a, 0.7);
        &:before {
            margin-left: auto;
        }
    }
    input[type='checkbox'] {
        position: absolute;
        top: 50%;
        left: 0;
        width: 10px;
        height: 10px;
        transform: translateY(-50%);
    }
}
.item-select {
    position: relative;
    select {
        position: relative;
        z-index: 1;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        border: 0;
        background-color: transparent;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        outline: none;
    }
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        border-style: solid;
        border-width: 4px;
        border-color: #fff transparent transparent;
    }
}
